@model IEnumerable<Category>

<div class="card bg-light mb-3">
    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
    <ul class="list-group category_block">
        @foreach (Category category in Model)
        { 
            <li class="list-group-item"><a asp-controller="Product" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a></li>
        }
    </ul>
</div>