@model IEnumerable<Category>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (Category category in Model)
        {
            <li class="dropdown-item">
                <a asp-controller="Product" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li class="dropdown-item">
            <a asp-controller="Product" asp-action="List" asp-route-category="">All products</a>
        </li>
    </ul>
</div>